################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Order.Apis/Order.Apis.csproj.user
/Notitification.Service.Api/obj
/Order.Api/obj
/Order.Apis/obj
.vs
